@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

@media only screen and (min-width: 348px){
  body {
    text-align: right; }
}

html, canvas{
    background-image: linear-gradient(#d9f2e6, #9fdfbf, #4d97d3, #20496a);
    background: cover;
    background-repeat: no-repeat;
    height: 100%;
}

body{
    font-family: Paprika, "Helvetica Neue", sans-serif;
    color: rgb(17, 35, 62);
}

main{
    border: 3px solid rgb(57, 92, 144);
    padding: 10px 50px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
  display: flex;
  flex-direction: column;
}
div{
  margin-top: .5pc;
}

span{
    color: red;
}

.messages {
  border: 3px solid red;
  color: red;
  padding: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.473);
    backdrop-filter: blur(5px);  
  }
  
  .nav li a{
    color: rgb(23, 44, 75);
    font-family: Paprika, "Helvetica Neue", "Times New Roman", "san-serif";
    text-shadow: 2px 2px 5px rgb(73, 217, 222);
  }
  
  .nav ul li a::before {
    content: '';
    position: absolute;
    background: #f0eec7;
    transition: 1s;
    transform: scale(.9);
    z-index: -1;
  }
  
  .nav ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #fbf488;
  }
  
  .nav ul li a:hover {
    color: #f3e95a;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }

#email_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button,
.button:focus{
    border-color: rgb(73, 217, 222);
    color: #060606;
    box-shadow: 0 0 40px 40px #357d93 inset, 0 0 0 0 #1f71eb;
    transition: all 150ms ease-in-out;
    font-family: Paprika, Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
  }        

  .button:hover{
        box-shadow: 0 0 10px 0 #1f71eb inset, 0 0 10px 4px #1f71eb;
  }